<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Sandwiches - {{data[0].libelle}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Secular+One&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Nos sandwiches "{{data[0].libelle}}"</h1>
    <div class="sandwiches">
    {% for sandwiche in data[0].sandwiches %}
        <div class="sandwich">
            <h3>{{sandwiche.libelle}}</h3>
            <p>{{sandwiche.description}}</p>
            <p class="prix">{{sandwiche.prix}}0€</p>
        </div>
    {% endfor %}
    </div>


    <style>
        *, html, body{
            margin : 0;
            padding : 0;
            font-family : "Josefin Sans", sans-serif;
            overflow: hidden;
        }

        body{
            background : #072448;
            height: 100vh;
            width : 100vw;
            display : flex;
            flex-direction : column;
            align-items : center;
            justify-content : center;
        }

        h1{
            font-size : 40px;
            color : white;
            font-family : "Secular One", sans-serif;
            margin-bottom : 30px;
        }

        .sandwiches{
            display : flex;
            flex-direction : row;
            flex-wrap: wrap;
        }

        .sandwich{
            border : 15px solid rgba(255,255,255, .3);
            border-radius : 15px;
            box-shadow: 0 0 7px -1px white;
            padding : 20px;
            margin : 20px;
            display: flex;
            flex-direction : column;
            align-items : center;
            justify-content: center;
            text-align : center;
            width : 300px;
        }

        .sandwich:nth-child(1){
            background : #54D2D2;
        }

        .sandwich:nth-child(2){
            background : #FFCB00;
        }

        .sandwich:nth-child(3){
            background : #F8AA4B;
        }

        .sandwich:nth-child(4){
            background : #FF6150;
        }

        svg{
            width : 150px;
            height : auto;
        }

        h3{
            text-transform : capitalize;
            font-weight : 900;
            font-size : 20px;
            margin-bottom : 20px;
        }

        .prix{
            font-weight : 800;
            font-size : 20px;
            margin-top : 20px;
        }

    </style>
</body>
</html>